git+https://github.com/pool-energy/chia-blockchain.git@release/2.5.5#egg=chia-blockchain
aiohttp==3.13.2
attrs==25.4.0
colorlog==6.9.0
humanize==4.13.0
discord.py==2.6.3
idna==3.10
multidict==6.6.4
PyYAML==6.0.3
cachetools==6.2.0
