git+https://github.com/pool-energy/chia-blockchain.git@stable/2.5
aiohttp==3.10.4
attrs==24.3.0
colorlog==6.9.0
discord.py==2.5.2
humanize==4.11.0
idna==3.10
multidict==6.1.0
PyYAML==6.0.2
cachetools==5.5.0
