git+https://github.com/pool-energy/chia-blockchain.git@stable/2.5
aiohttp==3.11.18
attrs==24.3.0
colorlog==6.9.0
discord.py==2.4.0
humanize==4.12.3
idna==3.10
multidict==6.4.4
PyYAML==6.0.2
cachetools==5.5.0
